header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px 80px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
}